<article>
  <a class="text-secondary" href="/dashboard"> &larr; Return to dashboard</a>
  <h2>
    Edit Photo
  </h2>
  <form class="edit-photo-form">
    <div>
      <input name="photo-title" type="text" value="{{photo.title}}" />
      </div>
      <div>
      <input id="photo-url" name="photo-url" cols="50" rows="10">{{photo.photo_url}}</input>
    </div>
    <div>
      {{photo.vote_count}} {{format_plural "point" photo.vote_count}} by you on {{format_date photo.created_at}}
      |
      <a class="text-secondary" href="/photo/{{photo.id}}">{{photo.comments.length}} {{format_plural "comment" photo.comments.length}}</a>
    </div>
    <button type="submit" class="btn bg-brown text-pistachio">Save photo</button>
    <button type="button" class="delete-photo-btn btn bg-brown text-pistachio">Delete photo</button>
  </form>
</article>



<script src="/javascript/edit-photo.js"></script>
<script src="/javascript/delete-photo.js"></script>
<script src="/javascript/comment.js"></script>