<link id="ss" rel="stylesheet" href="/stylesheets/profile.css">
<div class="container profile mt-5">
    {{#if myProfile}}
    <p id="editMode-banner" class="edit-only">·  EDIT MODE  ·  EDIT MODE  ·  EDIT MODE  ·  EDIT MODE  ·  EDIT MODE  ·</p>
    {{/if}} 
    <div class="row mb-5">
        <div class="col-lg-3 prof-img">
            <img class="rounded-circle prof-pic" src={{profile.profPic}} alt="profile picture">
            <!--generates upload photo modal, only available if in edit mode and can only enter edit mode when logged in-->
            {{#if myProfile}}
            <button class="btn edit-only" id="prof-pic-edit"><i class="fas fa-external-link-alt"></i></button>
            {{/if}} 
        </div>
        <div class="col-lg-8 prof-content">
            <h1 id="display-name">{{profile.displayName}}</h3>
            {{#if myProfile}}
            <input id="display-name-edit" type="text" class="edit-only form-control display-name p-0" value="{{profile.displayName}}">
            {{/if}}
            <h3 class="mb-4 prof-stats pl-4">some statistic</h3>
            {{#if myProfile}}
            <div class="row">
                <div class="bio-div col-10">
                    <p class="bio">{{{format_bio profile.bio}}}</p>
                    <textarea placeholder="max character limit of 500" rows="4" type="text" id="bio-edit" class="edit-only form-control">{{profile.bio}}</textarea>
                </div>
                <div class="col-2 prof-icons">
                    <button class="btn" id="upload-photo"><i class="fas fa-plus"></i></button>
                    <button class="btn" editMode='' id="edit-profile"><i class="fas fa-pen"></i></button>
                </div>
            </div>
            {{else}}
            <p class="bio">{{{format_bio profile.bio}}}</p>
            {{/if}}
        </div>
    </div>
    <div class="card-columns m-2">
        {{#each photos as |photo|}}
        <div class="card photo-card">
            <div class="embed-responsive image-container">
                <img src="{{photo.photo_url}}" alt={{photo.title}} class="card-img-top">
            </div>
            
            <div class="edit-only photo-details">
                <button class="btn" id="edit-photo"><i class="fas fa-pen"></i></button>
                <button class="btn" id="delete-photo"><i class="fas fa-trash-alt"></i></button>
                <div id="photo-title" class="card-title">{{photo.title}}</div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script src="/javascript/profile.js"></script>

<!-- when edit-icon-photo is selected, focus shadow around selected photo and delete icon appears in top right corner, sets up for future functionality of editing image title and tags-->
<!-- two icons in bottom right corner of profile header, 1 to add new phtoo which opens a modal for inputting path to photo, and one for editing profile info, turns all prof fields into input fields, add selectable plus sign over prof pic which generates same modal as add photo button but links to prof pic db 
ADD TOOLTIPS FROM BOOTSTRAP TO PROF-ICONS-->